body {
    background-color: #c7c7c7;
}
.container__h1 {
    background-color: #000;
    color: white;
    padding: 1rem;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.row__grid {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: .5rem;
}

.containerPrice {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.containerPrice p {
    margin: 0;
}

.card-text {
    font-weight: 700;
    font-size: 1.5rem;
}